<mat-toolbar color="primary" class="fixed-header">
  <div class="example-sidenav-content">
    <mat-icon (click)="drawer.toggle()">more_vert</mat-icon>
  </div>
  <span>ChatMap</span>
</mat-toolbar>

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="right">
    <div>
      <button
        mat-raised-button
        (click)="drawer.toggle()"
        routerLinkActive="active"
        routerLink="/"
      >
        Home</button
      ><br />
    </div>
    <div>
      <button
        *ngIf="islog"
        mat-raised-button
        (click)="drawer.toggle()"
        routerLinkActive="active"
        routerLink="/chat"
      >
        Chat
      </button>
    </div>
    <div>
      <button
        *ngIf="!islog"
        mat-raised-button
        (click)="drawer.toggle()"
        routerLinkActive="active"
        routerLink="/signup"
      >
        SignUp
      </button>
    </div>
    <div>
      <button
        *ngIf="!islog"
        mat-raised-button
        (click)="drawer.toggle()"
        routerLinkActive="active"
        routerLink="/login"
      >
        Log In
      </button>
    </div>
    <div>
      <button
      *ngIf="islog"
        mat-raised-button
        (click)="drawer.toggle(); signOut()"
        routerLinkActive="active"
        routerLink="/login"
      >
        Sign Out
      </button>
    </div>
  </mat-drawer>
  <div class="chatRoom">
    <div class="chatHeaderWrapper"></div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
